<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Scada:wght@700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">

	<div class="header">
		
	</div>

	<div class="menu_container">
		<div class="img_menu">
			<img src="assets/stud.png" width="300">
		</div>
		<div class="student">
			<p>ФИО студента</p>
		</div>
			<div class="program">
				<div id="hed">
		 			<h2 v-cloak >Название программы{{ $route.params.id }}</h2>
				</div>
			</div>
	</div>

	<div class="header_container">
		<div class="header_title">
		<br>Форма обратной 
	    <br>связи студента
		</div>
	</div>

<div class="form_container">
	<div class="title">
		<p>Название пройденной дисциплины</p>
	</div>
	<div class="title_q">
		<p>Оценка пройденной дисциплины на предмет полезности:</p>
    </div>
	<div id="question">
		<p>1. Полезна ли дисциплина для расширения кругозора и разносторон</p>		<div class="radioButton">
    		<input type="radio" v-bind:value="{name:'1'}" v-model="val">
   			 	<label>Не несет дополнительной пользы</label>
   			 	</div>
   			 	<div class="radioButton">
    		<input type="radio" v-bind:value="{name:'2'}" v-model="val">
   				 <label>.</label>
   				</div>
   				<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'3'}" v-model="val">
    				<label>Частично полезна</label>
    			</div>
    			<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'4'}" v-model="val">
   					 <label>.</label>
   					</div>
   					<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'5'}" v-model="val">
    				<label>Доступна и полезна</label>
    			</div>
    			
		</div>
		<div id="question">
		<p>2. Полезна ли дисциплина для будущей карьеры?</p>
    		<div class="radioButton">
    		<input type="radio" v-bind:value="{name:'1'}" v-model="val">
   			 	<label>Не несет дополнительной пользы</label>
   			 	</div>
   			 	<div class="radioButton">
    		<input type="radio" v-bind:value="{name:'2'}" v-model="val">
   				 <label>.</label>
   				</div>
   				<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'3'}" v-model="val">
    				<label>Частично полезна</label>
    			</div>
    			<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'4'}" v-model="val">
   					 <label>.</label>
   					</div>
   					<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'5'}" v-model="val">
    				<label>Доступна и полезна</label>
    			</div>
    			
		</div>
		<div id="question">
		<p>3. Актуальны ли полученные вами знания сегодня?  </p>
    		<div class="radioButton">
    		<input type="radio" v-bind:value="{name:'1'}" v-model="val">
   			 	<label>Абсолютно не актуальны</label>
   			 	</div>
   			 	<div class="radioButton">
    		<input type="radio" v-bind:value="{name:'2'}" v-model="val">
   				 <label>.</label>
   				</div>
   				<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'3'}" v-model="val">
    				<label>Частично неактуальны</label>
    			</div>
    			<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'4'}" v-model="val">
   					 <label>.</label>
   					</div>
   					<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'5'}" v-model="val">
    				<label>Актуальны</label>
    			</div>
    			
		</div>
		<div id="question">
		<p>4. Оказалась ли дисциплина сложной в освоении? </p>
    		<div class="radioButton">
    		<input type="radio" v-bind:value="{name:'1'}" v-model="val">
   			 	<label>Доступна в освоении</label>
   			 	</div>
   			 	<div class="radioButton">
    		<input type="radio" v-bind:value="{name:'2'}" v-model="val">
   				 <label>.</label>
   				</div>
   				<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'3'}" v-model="val">
    				<label>Средняя сложность</label>
    			</div>
    			<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'4'}" v-model="val">
   					 <label>.</label>
   					</div>
   					<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'5'}" v-model="val">
    				<label>Сложна в освоении</label>
    			</div>
    			
		</div>
		<div class="title_q_2 title_q">
		<p>Оценка качества преподавания дисциплины:</p>
    	</div>
    	<div id="question">
		<p>1. Четко ли были сформулированы требования, предъявляемые к студенту?</p>
    		<div class="radioButton">
    		<input type="radio" v-bind:value="{name:'1'}" v-model="val">
   			 	<label>Расплывчатые формулировки</label>
   			 	</div>
   			 	<div class="radioButton">
    		<input type="radio" v-bind:value="{name:'2'}" v-model="val">
   				 <label>.</label>
   				</div>
   				<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'3'}" v-model="val">
    				<label>.</label>
    			</div>
    			<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'4'}" v-model="val">
   					 <label>.</label>
   					</div>
   					<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'5'}" v-model="val">
    				<label>Ясность стребований</label>
    			</div>
    			
		</div>
		<div id="question">
		<p>2. Насколько ясно и последовательно был изложен материал?</p>
    		<div class="radioButton">
    		<input type="radio" v-bind:value="{name:'1'}" v-model="val">
   			 	<label>Недоступен для усвоения</label>
   			 	</div>
   			 	<div class="radioButton">
    		<input type="radio" v-bind:value="{name:'2'}" v-model="val">
   				 <label>.</label>
   				</div>
   				<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'3'}" v-model="val">
    				<label>.</label>
    			</div>
    			<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'4'}" v-model="val">
   					 <label>.</label>
   					</div>
   					<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'5'}" v-model="val">
    				<label>Комфортно для усвоения</label>
    			</div>
    			
		</div>
		<div id="question">
		<p>3. Поддерживался ли контакт преподавателя с аудиторией?</p>
    		<div class="radioButton">
    		<input type="radio" v-bind:value="{name:'1'}" v-model="val">
   			 	<label>Отсутствие взимодействия</label>
   			 	</div>
   			 	<div class="radioButton">
    		<input type="radio" v-bind:value="{name:'2'}" v-model="val">
   				 <label>.</label>
   				</div>
   				<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'3'}" v-model="val">
    				<label>.</label>
    			</div>
    			<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'4'}" v-model="val">
   					 <label>.</label>
   					</div>
   					<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'5'}" v-model="val">
    				<label>Контакт по всем вопросам</label>
    			</div>
    			
		</div>
		<div id="question">
		<p>4. Существует ли возможность внеаудиторного общения по учебным?</p>
    		<div class="radioButton">
    		<input type="radio" v-bind:value="{name:'1'}" v-model="val">
   			 	<label>Преподаватель недоступен</label>
   			 	</div>
   			 	<div class="radioButton">
    		<input type="radio" v-bind:value="{name:'2'}" v-model="val">
   				 <label>.</label>
   				</div>
   				<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'3'}" v-model="val">
    				<label>.</label>
    			</div>
    			<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'4'}" v-model="val">
   					 <label>.</label>
   					</div>
   					<div class="radioButton">
   			 <input type="radio" v-bind:value="{name:'5'}" v-model="val">
    				<label>Активный контакт вне учебного времени</label>
    			</div>
    			
		</div>
		<div class="title_q title_q_3">
		<p>Спасибо за ваше участие в развитии образовательных программ!</p>
    	</div>


	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="script.js"></script>		
</body>
</html>