*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
body{
	background-image: url(assets/bg.png);
	background-repeat: no-repeat ;
	background-size: 100%;
}
.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	}
.header{
	width: 100%;
    
}
.img_menu{
	margin-left: -100px;
    margin-top: 50px;
}
.menu_container{
	text-align: center;
	display: flex;
	float: left ;
	width: 30%;
	height: 200vh;
	
}
.student{
	font-size: 30px;
	margin-top: 370px;
	margin-left: -252px;
}

.program{
	margin-top: 470px;
	margin-left: -250px;
}
.header_container{
	margin-top: 100px;
	display: flex;
    padding-left: 35px;
}
.header_title{
	margin-top: 200px;
	font-size: 50px;
	font-weight: bold;
}
.title{
	margin-top: 100px;
	color: #a55c4a;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.title_q{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.title_q_2:after{
	text-align: center;
	content: "";
    display: block;
    width: 500px;
    height: 4px;
	background-color: #e6e2e2;
	margin-left: 470px;
}
.title:after{
content: "";
display: block;
width: 500px;
height: 4px;
background-color: #e6e2e2;
margin-left: 470px;
}

.form_container{
	
}

.title_q_3:before{
	text-align: center;
	content: "";
    display: block;
    width: 500px;
    height: 4px;
	background-color: #e6e2e2;
	margin-left: 470px;
	margin-top: 30px;
}
.radioButton {
    display:inline-block;
    text-align:center;
    margin:5px;
}
.radioButton label {
    display:block;
    margin:0px;
    margin-right:2px;
    margin-bottom:5px;
}
.radioButtons input {
    margin:0;
}



 
