<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
	<div class="container">

	<div class="header">
		
	</div>

	<div class="menu_container">
		<div class="img_menu">
			<img src="assets/stud.png" width="300">
		</div>
		    <div class="student">
		    	<p>ФИО студента</p>
		    </div>
			     <div class="info">
			       	<p>Факультет</p>
               <p>Кафедра</p>
                <p>Группа, курс</p>
			     </div>
           <div class="info_2">
              <p>Средний балл ЕГЭ</p>
               <p>Пректная деятельность</p>
                <p>Рейтинг</p>
                <p>Публикации в научных журналах и издательствах</p>
           </div>
	  </div>

	<div class="header_container">
		<div class="header_title">
		<br>Форма обратной 
	    <br>связи студента
		</div>
	</div>

<div class="form_container">
	<div class="title">
    <div id="hed">
		  <p v-cloak >Название образовательной программы{{ $route.params.id }}</p>
    </div>
	</div>
	
 <div class="stat">
     <canvas id="myChart" width="600" height="400"></canvas>
</div>
    			


	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="script.js"></script>		
</body>
</html>