*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
body{
	background-image: url(assets/bg.png);
	background-repeat: no-repeat ;
	background-size: 100%;
}
.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	}
	
.header{
	width: 100%;
    
}
.img_menu{
	margin-left: -100px;
    margin-top: 50px;
}
.menu_container{
	text-align: center;
	display: flex;
	float: left ;
	width: 30%;
	height: 200vh;
	
}
.student{
	font-size: 30px;
	margin-top: 370px;
	margin-left: -250px;
}
.info{
	text-align: left ;
	margin-top: 450px;
	margin-left: -200px;
}
.info:after{
	content: "";
display: block;
width: 150px;
height: 4px;
background-color: #d79484;
margin-left: 50px;
}
.info_2{
	text-align: left ;
	margin-top: 600px;
	margin-left: -230px;
}
.header_container{
	margin-top: 100px;
	display: flex;
    padding-left: 35px;
}
.header_title{
	margin-top: 200px;
	font-size: 50px;
	font-weight: bold;
}
.title{
	margin-top: 70px;
	color: #a55c4a;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.title_q{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.title:after{
content: "";
display: block;
width: 500px;
height: 4px;
background-color: #e6e2e2;
margin-left: 470px;
}

.stat{
	margin-top: 20px;
	display: flex;
}

